# Virtual Environments
.venv/
venv/
ENV/

# Python Cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/

# Node Modules
**/node_modules/
**/dist/
**/dist-ssr/

# Environment Variables
.env
*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
